/* REMOVENDO O ESPAÇAMENTO DE TODO O SITE ATRAVÉS DO COMANDO '*' */
* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  background-color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px; /* Espaçamento ao redor */
  margin-bottom: 12px;
  background-color: #000;
  margin-bottom:0%;
}

nav {
  /* Podemos usar as propriedades abaixo para alinhas todos os elementos filhos do elemento 'nav' no centro do eixo */
  display: flex;
  align-items: center;
  font-size: 10px;
}

ul {
  display: flex;
  margin-right: 16px;
  /* Podemos aplicar as duas propriedades abaixo para alinhas os elementos 'li' no centro do eixo */
  height: 100%;
  align-items: center;
  
}

@media (max-width: 800px) {
  ul {
    display: none;
  }
}


.btn-1 {
  border: 2px solid red;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    margin-left: 12px;
    font-size:  12px;
}

.btn-2 {
  border: 2px solid red;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    margin-left: 12px;
    font-size:  12px;
}

img {
  margin-left: 10px;
}

nav ul li {
  list-style-type: none; /* Pontos que são criados, por padrão em listas */
  margin-left: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  background-color: #000;
}

footer {
  background-color: #000;
}