header {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

nav {
    font-size: small;
    display: flex;
    justify-content: flex-end;
}

.input_1 {
    display: flex;
    min-width: -webkit-fill-available;
}

input {
    background-color: white;
}

ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    margin-right: 16px;
    margin-left: 16px;
}

li {
    margin-right: 16px;
}

main {
    margin-top: 40px;
    background-color:black;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
}



button {
    margin-top: 20px;
}

section {
    margin: 10px;
    padding-left: 30px;
    
}

.sec1 {
   display: block;
}

.p1 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.p2 {
    margin-top: 15px;
    margin-bottom: 10px;
}